{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"plugins": [
		"react",
		"jsx-a11y",
		"import"
	],
	"rules": {
		"react/prefer-stateless-function": 0,
		"react/jsx-filename-extension": 0,
		"react/jsx-one-expression-per-line": 0,
		"react/jsx-closing-bracket-location": [
			1,
			"after-props"
		]
	},
	"env": {
		"browser": true
	}
}