body {
  margin: 0;
  background-image: url(https://kr.object.ncloudstorage.com/connect-2019-01/image/background-game.png);
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}